# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# JetBrains
/.idea
/cmake-build-debug*
/cmake-build-release*

# Pytest
/tests/.venv
/build_test
/tests/__pycache__
/__pycache__
/tests/.pytest_cache
/.pytest_cache
.venv

# VSCode
/.vscode

# Visual Studio
/.vs/**/*
!/.vs/launch.vs.json

# Project-specific
data/meteodata*/**/*
!data/meteodata*/**/.gitkeep
/build

# LaTeX
/doc/*/*
!/doc/*/*.tex
!/doc/*/*.bib
!/doc/*/*.pdf
!/doc/*/*.cls
!/doc/*/*.sty

.git